*{

padding: 0;
margin: 0;
box-sizing: border-box;
text-decoration: none;
}
body{
    padding: 0;
    margin: 0;
   font-family:'poppins',sans-serif;

}
@media (max-width:768px)
{

    body p{
        font-size: 30px;
    }
}

.logo{

    margin-left: 30px;
    width:200px;
    height: 40px;
}
.header{
    display: flex;
     justify-content: space-between; 
    align-items: center; 
  position: fixed;
  top:0;
  background-color: white;;
 width:100%;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.header .btn{

    font-size: 20px;
    display: none;
    
  
}
.header .btn .fa{

   
    color:black;
}

.Navbar{

    /* background-color: lightgray; */
     padding: 10px; 
     margin-left: 100px
    
}
.Navbar ul{
list-style: none;
padding: 0;


}
.Navbar ul li{
    display: inline; /* Changed from float: left; */
  margin-right: 10px; /* Added margin for spacing */
}
.Navbar ul li a{

    text-decoration: none;
    color:#333;
    padding:20px;
    font-weight: 400;
    font-size: 20px;
}
.Navbar ul li:hover{

    border-bottom: 2px solid red;
}
.Navbar ul li a:hover{
color:green;

}
@media (max-width:768px)
{
   
   .header .btn{
    display: block;
   }
   .header .Navbar ul li {
    display: block;
    margin: 0; /* Remove margin for vertical layout */
  }
  .header .btn-closing{
  margin-top: 0px;
  }
  .header .btn-closing .fa{

    color:white;
  }
   .header .Navbar{

        position: fixed;  
        flex-direction: column;
      
        min-width: 300px;
        height: 100vh;
        background-color: brown;
        top:0;
         right:-300px;
        justify-content: start;
        align-items: flex-start;
        padding-top: 100px;
   }
   .header .active2{

    right:0px;
   }

   .header ul li a{

    color:white;
   }
   .header ul li a:hover{

    color:blue;
   }

}
.hero .col-lg-5{
    align-items: center;
    justify-content: between;
    display: flex;
}
.hero .col-lg-5 .text-div{
    margin-left: 50px;
}
.hero .col-lg-5 .btn-outline{

  background-color: gray;
  color:white;
  font-size: 13px;
  font-weight: 400;
  margin-top:30px;
  margin-bottom: 30px;
  transition: background-color 0.5 ease;
}
.hero .col-lg-5 p{

    color:gray;
    margin-top: 10px;
    font-size: 15px;
}

.hero .col-lg-5 .btn-outline:hover{

    background-color:white;
    color:black;
   border: 2px solid gray;
  }
.hero .col-lg-5 h1{

    font-size:40px;
    font-weight: 800;
    color:#333;
}

.hero .col-lg-7 .image-fluid{

    width:100%;
    height:100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.second-section {

  margin:60px 0px;
    align-items: center;
    justify-content: between;
    display: flex;
   
}
.second-section .col-lg-6 .text-div{

    margin-left: 30px;
}

.second-section .col-lg-6 .text-div h1{

    font-size: 40px;
    font-weight: 500;
}
.second-section .col-lg-6 .text-div p{

    font-size: 20px;
    font-weight: 500;
    color:gray;
}
.second-section .col-lg-6 .text-div .btn{

    background-color: white;
    border: 1px solid gray;
    height: 50px;
    font-size: 13px;
    font-weight: 400;
    margin: 30px 0px;
    width: 150px;
}
.second-section .col-lg-6 .text-div .btn:hover{

    background-color: gray;
    color:black;

}
.second-section .col-lg-5 .image-div{

    background-color: blue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 95%;
}
.second-section .col-lg-5 .image-fluid{

    width:100%;
    height:100%;
    margin-left:30px;
    margin-top: 30px;
}


.trending{

    background-color: #F1F9F6;
}
.trending .container h1{

    margin-top:100px;
    margin-bottom: 40px;
}

.trending .container .col-lg-4 .image-fluid{

    width:100%;
    height: 200px;
}

.trending .container .col-lg-4 .text-div h4{

    margin: 20px 0px;
    color:brown;
    font-size: 20px;
    font-weight: 500;

}
.trending .container .col-lg-4 .text-div h4:hover{

    color:black;
}
.trending .container .col-lg-4 .text-div p{

    color:gray;
}
.slide-section{
    background-color: #6c757d;
    padding-top: 50px;
}

.slide-section .container .image-section  .image-fluid{
  
    display: block;
  margin: 0 auto;
}
.slide-section .container .text-section{

    display: block;
    width:50%;
  margin: 0 auto;
}

.slide-section .container .text-section p{

   color:white;
   font-size: 20px;
   font-weight: 400;
}
.slide-section .container .carousel-control-prev .carousel-control-prev-icon{
   border:1px solid black;
 border-radius: 50px;
 color:brown;
}

.slide-section .container .carousel-control-next .carousel-control-next-icon{
    border:1px solid black;
  border-radius: 50px;
  color:brown;
 }

 .third-section .container .row .col-lg-6 h1{
 margin-top: 150px;
margin-bottom: 70px;
font-size: 35px;
font-weight: 500;
color:maroon;
 }

 .third-section .container .row .col-lg-6 p{
    margin-top: 135px;
   margin-bottom: 70px;
   font-size: 15px;
   color: cadetblue;
    }
    

.third-section .container .row  .col-lg-3{
       margin-left:20px;
       margin-right: 20px;
  border:0.5px solid maroon;
    width:auto;
  height: 100px;
  margin-bottom: 100px;
  
    }
    
    .third-section .container .row  .col-lg-3 .icons{
     margin: 30px 50px;
     margin-bottom: 0px;;
     width:50px;
    }
    .third-section .container .row  .col-lg-3 p{
   display: block;
        color:#333;
        font-size: 15px;
        font-weight: 400;
    
    }

    
    .subscribe-section {
        padding-top: 50px;
        background-color:#3e4444;
        display: flex;
        justify-content: center;
        align-items: center;
  
        flex-direction: column;
    }
    
    .subscribe-section h1 {
        margin:0px; 
        color: white;/* Reset the default margin of h1 */
        font-weight: 500px;
        font-size: 30px;
    }

    .subscribe-section p {
         
        color: white;/* Reset the default margin of h1 */
        font-weight: 400px;
        font-size: 15px;
        margin-top: 10px;
    }

    .subscribe-section .input-container{
        display: flex;
        width: 350px;
        background: #3e4444;
        border: 2px solid white;
        color: white; /* Change the text color to white */
        padding: 10px;
        border-radius: 50px;
        margin-bottom: 150px;
        margin-top: 20px;
    }
    
    .subscribe-section .input-container input{
        border:none;
        outline: none;
        background: #3e4444;
    }
    .subscribe-section .input-container input:hover{
        border:none;
        background: #3e4444;
        outline: none;

    }
    .subscribe-section input:focus{
        border:none;
        outline: none;
        background: #3e4444;

    }

    .subscribe-section input::placeholder {
        color:white;
    }

    .subscribe-section .input-container .btn{

        background-color: dimgray;
        border-radius: 50px;
    }
    .subscribe-section .input-container .btn:hover{

        background-color:white;
        color:black;
        border-radius: 50px;
    }

    .fotter-bottom{

        margin-top: 50px;
        background-color:#deeaee;
        color:#333;
        padding: 20px;
        padding-bottom: 5px;
    }